@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");

:root {
  --primary: #161a30;
  --secondary: #31304d;
  --third: #b6bbc4;
  --fourth: #f0ece5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: "Inconsolata", monospace;
  color: var(--fourth);
  background-image: url("src/endless-constellation.svg");
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
  margin-top: 200px;
  color: var(--fourth);
}

.hero__image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-image: url("src/img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.line {
  width: 100%;
  background-color: var(--third);
  border-radius: 20px;
  height: 5px;
}

.contact a {
  fill: var(--fourth);
}

.hero__title {
  font-size: 45px;
}

/* -------------------------------- */

.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

/* -------------------------------- */

.portfolio {
  margin: 0 100px 800px 0;
  height: 100vh;
  padding: 0 200px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}

.portfolio__item {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}

.portfolio img {
  width: 600px;
  border-radius: 20px;
  padding: 20px;
}

.portfolio__desc {
  padding: 20px;
  text-align: justify;
}

/* ---------------------------------- */

footer {
  height: 250px;
  background-image: url("src/Wave.svg");
}
